name: Publish docs to website
on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
       - name: checkout branch
         uses: actions/checkout@v3
       - name: install python
         uses: actions/setup-python@v2
         with:
           python-version: 3.x
       - name: install mkdocs
         run: pip install mkdocs
       - name: install theme
         working-directory: ./MkDocs
         run: pip install mkdocs-material
       - name: build site
         working-directory: ./MkDocs
         run: mkdocs build
       - name: transfer site to server
         uses: appleboy/scp-action@v0.1.4
         with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          source: "/home/runner/work/documentation/documentation/MkDocs/site/*"
          target: /local/docker/docs/content
