name: Publish docs to website
on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v3
       - uses: actions/setup-python@v2
         with:
            python-version: 3.x
       - run: pip install mkdocs
       - working-directory: ./MkDocs
         run: pip install mkdocs-material
       - working-directory: ./MkDocs
         run: mkdocs build
       - run: sshpass -p "${{ secrets.PASSWORD }}" scp -r -P 1990 /home/runner/work/documentation/documentation/MkDocs/site/* ${{ secrets.USERNAME }}@${{ secrets.HOST }}:/root/docs/content/
