name: Publish docs to website
on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v0.1.4
       - uses: actions/setup-python@v2
         with:
            python-version: 3.x
       - run: pip install mkdocs
       - working-directory: ./MkDocs
         run: pip install mkdocs-material
       - working-directory: ./MkDocs
         run: mkdocs build
       - uses: appleboy/scp-action@v0.1.4
         with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          source: /home/runner/work/documentation/documentation/MkDocs/site/*
          target: /root/docs/content/
